<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guestbook</title>
    <link rel="stylesheet" href="styles/css-reset.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="icon" href="images/guest-book.png?v1" type="image/x-icon">
</head>
<body>
    <div id="main">
        <h1>
            Contact Form
        </h1>
    
        <!-- Form start -->
        <form action="/confirm" method="post">
            
            <!-- Line 1 -->
            <div class="form-line" id="line-1">
                <div class="form-field">
                    <label for="fname">First Name</label>
                    <input type="text" name="fname" id="fname">
                </div>
                <div class="form-field">
                   <label for="lname">Last Name</label>
                    <input type="text" name="lname" id="lname"> 
                </div>
                <div class="form-field">
                    <label for="job">Job Title</label>
                    <input type="text" name="job" id="job">
                </div>  
            </div>
            
            <!-- Line 2 -->
            <div class="form-line" id="line-2">
                <div class="form-field">
                    <label>Company</label>
                    <input type="text" name="company" id="company">
                </div>
                <div class="form-field">
                    <label>LinkedIn URL</label>
                    <input type="text" name="linkedin" id="linkedin">
                </div>
                <div class="form-field">
                   <label>Email Address</label>
                    <input type="text" name="email" id="email"> 
                </div>
            </div>

            <!-- Line 3 -->
            <div class="form-line" id="line-3">
                <div class="form-field">
                    <label>How did we meet?</label>
                    <select name="meet" id="meet">
                        <option value="No option selected">Please select</option>
                        <option value="Work">Work</option>
                        <option value="School">School</option>
                        <option value="Job fair">Job fair</option>
                        <option value="Gym">Gym</option>
                        <option value="Soccer">Soccer</option>
                        <option value="Social event">Social event</option>
                        <option value="Online">Online</option>
                        <option value="Family member">Family member</option>
                        <option value="Mutual friend">Mutual friend</option>
                    </select>
                </div>
                <div class="form-field">
                    <label>Other (please specify)</label>
                    <input type="text" name="other" id="other">
                </div>
            </div>

            <!-- Line 4 -->
            <div class="form-line" id="line-4">
                <div class="form-field">
                    <label>Message</label>
                    <textarea name="message" id="message"></textarea>
                </div>
            </div>

            <!-- Line 5 -->
            <div class="form-line" id="line-5">
                <input type="checkbox" name="emaillist" id="emaillist">
                <label for="emaillist" id="emaillist-label">Please add me to your mailing list</label>
            </div>
            
            <!-- Line 6 -->
            <div class="form-line" id="line-6">
                <label>Choose an email format:</label>
                <input type="radio" name="format" id="html" value="html">
                <label for="html">HTML</label>
                <input type="radio" name="format" id="text" value="text">
                <label for="text">Text</label>
            </div>
             
            <!-- Button -->
             <button type="submit">Submit</button>

        </form>
    </div>
    <div id="footer-container">
        <a href="/admin"><button action="/admin">Admin</button></a>
    </div>
</body>
</html>