body {
    background-color: rgb(234, 234, 234);
    height: 70%;
    margin: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    margin: auto;
    padding: 15px 0 10px 0;
    border-radius: 5px;
}

h1 {
    font-size: 2em;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    width: 98%;
}

.form-line {
    display: flex;
    margin: 5px 0;
    
}

.form-field {
    margin: 5px 10px;
    flex-grow: 1;
}

#line-5 {
    margin: 0 5px;
    display: flex;
    align-items: center;
}

#line-6 {
    margin: 0 10px;
}

label {
    display: block;
    font-weight: 600;
    margin: 5px 0;
}

input {
    border-radius: 3px;
    border: 1px solid rgb(188, 188, 188);
    height: 25px;
}

input[type="text"], textarea, select {
    width: 100%;
}

select {
    border-radius: 3px;
    border: 1px solid rgb(188, 188, 188);
    height: 30px;
}

textarea {
    height: 90px;
    border-radius: 3px;
    border: 1px solid rgb(188, 188, 188);
}

button {
    color: white;
    background-color: rgb(0, 149, 0);
    border: none;
    border-radius: 5px;
    width: 75px;
    height: 35px;
    margin: 5px 10px;
}

button:hover {
    background-color: rgb(0, 128, 0);
}

h2 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
}

ul {
    /* add flex to make it look better */
}

li {
    margin: 10px;
}


